<%-include ('./partials/header.ejs') %>
<%-include ('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h2>
            Item salvo no banco de dados!
        </h2>
        <hr>
        
    </div>

<%-include ('./partials/footer.ejs') %>